@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Geologica:wght@300&family=Inter&family=Poppins:wght@600&family=Roboto&display=swap');
html {
    height: 100vh;
    margin: 0;
}
body {
    height: 100%;
    background: url("./images/bg.jpg") no-repeat;
    background-size: cover;
    background-position-y: 70%;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.model {
    position: fixed;
    background: hsla(0, 0%, 0%, 0.4);
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.story {
    width: 40%;
    height: 60%;
    border-radius: 10px;
    background: rgb(24, 22, 22);
    color: white;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}
.story p {
    width: 80%;
    line-height: 30px;
}
.story button {
    background: hsl(221, 100%, 44%);
    border: 3px solid white;
    color: white;
    width: 60%;
    height: 50px;
    font-family: 'Poppins';
    font-size: 20px;
    border-radius: 10px;
    outline: none;
}
.story button:hover {
    cursor: pointer;
    transition: 1s;
}
.story h1 {
    margin: 5px;
    font-family: "Poppins";
    color: white;
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px hsl(221, 100%, 44%);
}
.cont {
    width: 70%;
    height: 40%;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    background: hsl(209,2,55);
}
.s1 {
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    font-size: 30px;
    position: relative;
}
.s2 {
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 5px;
    position: relative;
}
.cont button {
    height: 150px;
    width: 150px;
    background: linear-gradient(to right bottom, orange,red);
    border-radius: 50%;
    align-self: center;
    border: 10px solid #7cbcfc;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: -75px;
    font-family: "Poppins";
    font-size: 26px;
}
header {
    width: 70%;
    height: 50px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header h1 {
    font-family: "Poppins";
    color: hsl(221, 100%, 44%);
}
header li {
    font-family: "Geologica";
    list-style-type: none;

}
.s-head {
    width: 100%;
    height: 60px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Cairo";
    font-size: 26px;
    position: absolute;
    top: 0;
}
.ans {
    width: 60%;
    border: none;
    outline: none;
    border-top: 3px solid hsl(221, 100%, 44%);
    border-bottom: 3px solid hsl(221, 100%, 44%);
    font-family: "Inter";
    font-size: 30px;
    margin-top: 25%;
    margin-left: 20%;
    padding: 10px;
    text-align: center;
}
#false {
    color: red;
}
#true {
    color: green;
}
#progress {
    color: hsl(221, 100%, 44%);
}
@media screen and (max-width: 700px) {
    .story {
        width: 80%;
        height: 60%;
    }
    .story button  {
        width: 90%;
    }
    .story p {
        width: 90%;
        line-height: 30px;
        font-size: 22px;
    }
}